.site__heading {
    float: left;
    width: 100%;
    padding: 70px 0 20px 0;
}

.content__container {
    float: left;
    width: 100%;
    background: $white;
    padding: 20px 0;
}

.page__description {
    padding-bottom: 20px;
}

.site__hero {
    padding: 4em 2em 1em 2em;
    background: #00a0bf;

    .hero__title {
        color: $white;

    }

    hr {
        &.hero__divider {
            border-top: 1px solid $white;
        }
    }

    .hero__description {
        color: $white;
        font-size: 25px;

        a {
            color: $white;
            text-decoration: underline;
            font-style: italic;

            &:hover {
                font-weight: bold;
            }
        }

        &.count {
            font-size: 20px;
            font-style: italic;
        }
    }

    .hero__search {
        background: $green;
        color: $white;
        &:hover {
            background: $darkgreen;
            border-color: $darkgreen
        }
    }
}

footer {
    padding: 6em 0;
}
